<ng-container *ngIf="id || level">
  <div class="classification-details__block">
    <div class="classification-details__block-title">
      Id
    </div>
    <div data-role="classification-details__id"
          class="classification-details__block-value"
    >
      {{id}}
    </div>
  </div>
  <div class="classification-details__block">
    <div class="classification-details__block-title">
      Level
    </div>
    <div data-role="classification-details__level"
          class="classification-details__block-value"
    >
      {{level}}
    </div>
  </div>
</ng-container>
