
<ng-container *ngIf="chunk$ | async as chunk">
  <mat-card>
    <mat-card-header class="classification-details__header">
      <mat-card-title>
        Classification
      </mat-card-title>

    </mat-card-header>
    <mat-card-content class="classification-details">
      <app-classification-details-main
        [chunk]="chunk"
        (updated)="onChunkUpdated($event)"
      ></app-classification-details-main>
      <app-classification-details-tracking [tracking]="chunk.tracking"></app-classification-details-tracking>
      <mat-divider [inset]="true"></mat-divider>
      <app-classification-details-attributes [attributes]="chunk.attributes"></app-classification-details-attributes>
    </mat-card-content>
  </mat-card>
</ng-container>
