
<ng-container *ngIf="chunk$ | async as chunk">
  <mat-card>
    <mat-card-header class="classification-details__header">
      <mat-card-title>
        Classification
      </mat-card-title>

    </mat-card-header>
    <mat-card-content class="classification-details">
      <app-classification-details-main
        [id]="chunk.id"
        [level]="chunk.level"
      ></app-classification-details-main>
      <mat-divider [inset]="true"></mat-divider>
      <app-classification-localised-content
        [localisedContent]="chunk.localisedContent"
        [canEdit]="true"
        (updated)="onChunkUpdated($event, chunk)"
      ></app-classification-localised-content>
      <app-classification-details-tracking [tracking]="chunk.tracking"></app-classification-details-tracking>
      <mat-divider [inset]="true"></mat-divider>
      <app-classification-details-attributes [chunkAttributes]="chunk.attributes"></app-classification-details-attributes>
    </mat-card-content>
  </mat-card>
</ng-container>
